html, body{
    font-family: Roboto, Helvetica, sans-serif;			
    /* height: 100vh; */
    margin: 0px;
}
.homepage {
    position: relative;
    /* min-height: 100vh; */
}
/* .mainpage{
    height:100%;
} */

.navbar-custom{
    background-color: #f37d42;
}