<!DOCTYPE html>
<html>

<body>
  <app-header></app-header>
  <!-- Page Content -->
  <div class="content-container container">
    <div class="row">
      <!-- Category -->
      <div class="category col-12 col-lg-3">
        <div class="card-header custom-panel text-white text-uppercase"><i class="fa fa-list"></i> Category</div>
        <div class="list-group">
          <a [routerLink]="['/category', 'First Dishes']" class="list-group-item category-title"><span><img
                src="assets/icon/salad.svg" class="pbicon"> First Dishes</span></a>
          <a [routerLink]="['/category', 'Main Dishes']" class="list-group-item category-title"><span><img
                src="assets/icon/pizza-slice-solid.svg" class="pbicon"> Main Dishes</span></a>
          <a [routerLink]="['/category', 'Seafood']" class="list-group-item category-title"><span><img
                src="assets/icon/seafood.svg" class="pbicon"> Seafood</span></a>
          <a [routerLink]="['/category', 'Drinks']" class="list-group-item category-title"><span><img
                src="assets/icon/cocktail-solid.svg" class="pbicon"> Drinks</span></a>
          <a [routerLink]="['/category', 'Dessert']" class="list-group-item category-title"><span><img
                src="assets/icon/cake-svgrepo-com.svg" class="pbicon"> Dessert</span></a>
        </div>
      </div>
      <div class="main-content col-lg-9">
        <!--div class="sorting-panel"></div-->
        <h3 class="section-title">{{cat_filter}}</h3>
        <div class="grid-container row">
          <div class="grid-item col-lg-4 col-md-6 mb-4"
            *ngFor="let product of filtered_products | paginate:{itemsPerPage:10,currentPage: page,totalItems:total_pages*10}">
            <div class="card h-100 product-card">
              <a [routerLink]="['/product', product._id]">
                <figure class="item-thumb-wrapper">
                  <img class="card-img-top item-thumb" src={{product?.image[0]}}
                    onError="this.src='assets/images/dish-thumbnail-default.png';" alt="">
                </figure>
              </a>
              <div class="card-body">
                <h5 class="card-title">
                  <a [routerLink]="['/product', product._id]">{{product.name}}</a>
                </h5>
                <h6 class="text-uppercase">
                  {{product?.price | number}} {{product?.currency}}
                  <span class="discount-percent" *ngIf="product?.discount>0">{{product?.discount}}% off</span>
                </h6>
                <p class="card-text">{{product?.description}}</p>
              </div>
              <div class="card-footer">
                <a class="btn btn-outline-secondary add-cart-btn" (click)="addCart(product._id)">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center" *ngIf="!filtered_products.length">There is no product in this category.</p>
        <div class="has-text-centered pb-pagination text-center">
          <pagination-controls (pageChange)="get_page($event)" previousLabel="Previous" nextLabel="Next"
            autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <scroll-to-top></scroll-to-top>
  <app-footer></app-footer>
</body>

</html>
