<app-header></app-header>
<div class="content_wrapper">
    <div class="container">
        <div class="row">
            <div class="settingPanel col-12 col-lg-3">
                <div class="panel-title">Edit profile</div>
                <a class="back-link" href="profile">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </a>
                <hr>
                <ul>
                    <li class="navi-link"><a href="editProfile/profile"><div class="panel-icon"><i class="fa fa-user" aria-hidden="true"></i></div>Edit your info</a></li>
                    <li class="navi-link"><a href="editProfile/picture"><div class="panel-icon"><i class="fa fa-image"></i></div>Change avatar</a></li>
                    <li class="navi-link"><a href="editProfile/password"><div class="panel-icon"><i class="fa fa-cog"></i></div>Change password</a></li>
                </ul>
            </div>
            <div class="card setting-content col-12 col-lg-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>