<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="login">
        <div class="form_container">
            <form class="login-form" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" id="loginform">
                <header>Đăng nhập</header>
                <label for="username">Tên đăng nhập</label>
                <br>
                <input id="username" type="text" name="username" required placeholder="Nhập username" ngModel #username="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="username.invalid && username?.dirty">Vui lòng điền Tên đăng nhập!</div>
                <br>
                <label for="password" >Mật khẩu</label>
                <!-- <span class="showpass"><input class="checkbox" type="checkbox">Hiện mật khẩu</span> -->
                <br>
                <input id="password" type="password" name="pwd" placeholder="Nhập password" ngModel required #pw="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="pw.invalid && pw.dirty">Vui lòng điền mật khẩu!</div>
                <br>
                <button name="login" class="login-button" type="submit" form="loginform" value="Đăng nhập" [disabled]="userlogin.invalid">Đăng nhập</button><br>
            </form>
            <!-- <div class="second-section">
                <div class="bottom-header">
                    <h3>OR</h3>
                </div>
                <div class="social-links">
                    <ul>
                      <li><a class="facebook" (click)="login()" target="blank"><i class="fa fa-facebook"></i></a></li>
        
                      <li><a class="twitter" href="#" target="blank"><i class="fa fa-twitter"></i></a></li>
        
                      <li><a class="googleplus" href="#" target="blank"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div> -->
            <div class="bottom-text">
                <p>Chưa có tài khoản?<a style="font-weight: 500" href="user_register">Đăng ký</a></p>
                <h4><a style="font-weight: 500" href="forgotpassword">Quên mật khẩu?</a></h4>
            </div>
        </div>
    </div>
	
</body>
</html>