<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="settingPanel col-12 col-lg-3">
                <div class="panel-title">Edit profile</div>
                <a class="back-link" href="profile">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Trở lại
                </a>
                <hr>
                <ul>
                    <li class="navi-link"><a href="editProfile/profile"><div class="panel-icon"><img src="../../../../assets/icon/user-icon.png"></div>Sửa thông tin cá nhân</a></li>
                    <li class="navi-link"><a href="editProfile/picture"><div class="panel-icon"><img src="../../../../assets/icon/avatar-icon.png"></div>Sửa avatar</a></li>
                    <li class="navi-link"><a href="editProfile/password"><div class="panel-icon"><img src="../../../../assets/icon/password-icon.png"></div>Sửa mật khẩu</a></li>
                </ul>
            </div>
            <div class="card setting-content col-12 col-lg-8">
                <router-outlet (activate)="changeOfRoutes()"></router-outlet>
            </div>
        </div>
    </div>
</body>
</html>