<!DOCTYPE html>
<html>

<body>
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <!-- Sidebar -->
            <app-sidebar></app-sidebar>

            <!-- Page content -->
            <div class="content-inner">
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Customers</h2>
                    </div>
                </header>
                <!-- Breadcrumb-->
                <div class="breadcrumb-holder container-fluid">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Quick Payment</li>
                    </ul>
                </div>
                <section class="forms">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Quick Payment</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form #searchbill="ngForm" (ngSubmit)="searchBill(searchbill.value)"
                                            id="searchForm">
                                            <div class="form-group">
                                                <input type="text" placeholder="Enter username" class="form-control"
                                                    name="username" required ngModel #name="ngModel">
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Comfirm" class="btn btn-primary"
                                                    form="searchForm" [disabled]="searchbill.invalid">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" *ngIf="this.haveBill==false">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Bill info not found</h3>
                            </div>
                        </div>
                        <div class="card" *ngIf="this.haveBill">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Bill info</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Date created</th>
                                            <th scope="col">Party date </th>
                                            <th scope="col">Num of tables</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bill of bill_info; let i = index" data-toggle="modal"
                                            data-target="#CartDetailModal" (click)="itemClicked(bill)">
                                            <th scope="row" class="align-middle">{{i+1}}</th>
                                            <td class="align-middle">{{bill.username}}</td>
                                            <td class="align-middle">{{bill.createAt | date:'dd-MM-yyyy'}}</td>
                                            <td class="align-middle">{{bill.dateParty | date:'dd-MM-yyyy, HH:mm'}}</td>
                                            <td class="align-middle text-center">{{bill.numbertable}}</td>
                                            <td class="align-middle">{{bill.totalMoney | number}}</td>
                                            <td class="align-middle"><span
                                                    *ngIf="bill.userpayment!=null">Paid</span><span
                                                    *ngIf="bill.userpayment==null">Unpaid</span></td>
                                            <td *ngIf="bill.userpayment==null"><button type="button"
                                                    class="btn btn-outline-primary btn-sm" data-toggle="tooltip"
                                                    data-placement="top" title="Pay this bill"
                                                    (click)="pay(bill._id)"><i class="fa fa-usd"></i></button><span
                                                    class="tab-space"></span><button type="button"
                                                    class="btn btn-outline-primary btn-sm" data-toggle="tooltip"
                                                    data-placement="top" title="Delete this bill"
                                                    (click)="delete_bill(bill._id)"><i class="fa fa-trash"></i></button>
                                            </td>
                                            <!-- Cart Detail Modal-->
                                            <div class="modal fade" id="CartDetailModal" tabindex="-1" role="dialog"
                                                aria-labelledby="CartDetailModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="CartDetailModalLabel">Bill
                                                                detail</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Items in each table</p>
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Name</th>
                                                                        <th scope="col">Price</th>
                                                                        <th scope="col">Quantity</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let itemDetail of bill_detail; let i = index">
                                                                        <th scope="row">{{i+1}}</th>
                                                                        <td>{{itemDetail.name}}</td>
                                                                        <td>{{productService.find(itemDetail._id).price | number}}
                                                                        </td>
                                                                        <td>{{itemDetail.numberDish | number}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>