<div class="mt-2 d-flex justify-content-end" *ngIf="total_pages > 1">
    <div class="pagination">
        <ul>
          <a (click)="changePage(current_index - 1)"><li><</li></a>
          <a *ngFor="let item of [].constructor(total_pages); let currentIndex = index" 
            (click)="changePage(currentIndex+1)" 
            [ngClass]="{active: currentIndex+1 == current_index}">{{currentIndex + 1}}</a>
          <a (click)="changePage(current_index + 1)"><li>></li></a>
        </ul>
    </div>
</div>