<!DOCTYPE html>
<html>

<body>
    <div class="editavatar-container">
        <header style="font-weight: 500">Avatar</header>
        <div class="avatar">
            <img src={{avtUrl}}>
        </div>
        <div class="updatePicture">
            <form #updatepicture = "ngForm" (ngSubmit) = "onClickSubmit(updatepicture.value)" id="picUpdateForm">
                <header class="formHeader">Upload new avatar</header>
                <p>Image must be jpg, png or gif.</p>
                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="avt" (change)="fileChanged($event)" required ngModel>
                <br>
                <button type="submit" form="picUpdateForm" [disabled]="updatepicture.invalid">Update</button>
            </form>
        </div>
    </div>
</body>
</html>