<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1><span>PartyBooking</span></h1>
                    <h3>Chào mừng đến với PartyBooking</h3>
                    <p class="about-paddingB">Đây là website phục vụ đồ án môn học NT117.K11</p>
                    <h6>Danh sách thành viên thực hiện</h6>
                    <p>Nguyễn Ngọc Quang Đông</p>
                    <p>Trần Đức Trung</p>
                    <p>Trần Đức Luân</p>
                    <p>Nguyễn Tấn Hào</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>