<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1><span>PartyBooking</span></h1>
                    <h3>Chào mừng đến với PartyBooking</h3>
                    <p class="about-paddingB">PartyBooking là trang web giúp đặt tiệc online, 
                        giúp cho khách hàng có thể đơn giản hóa việc đặt một bữa tiệc cho gia đình và bạn bè,
                         mang lại sự dễ dàng nhất cho khách hàng muốn có những buổi tiệc thân mật bên người thân và gia đình.
                    </p>
                    <!-- <p>Trang web cũng có ứng dụng đặt tiệc trên thiết bị di động android với các chức năng tương tự,
                        bạn có thể xem
                        <a href="https://play.google.com/store/apps/details?id=com.uit.party" target="_blank">tại đây</a>
                    </p> -->
                    <h6>Danh sách thành viên thực hiện</h6>
                    <p>
                        Nguyễn Ngọc Quang Đông - 16520223<br>
                        Trần Đức Trung - 16521328 <br>
                        Trần Đức Luân - 16520704 <br>
                        Phan Thị Thanh Hương - 17520561
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 text-center">
                <img class="img-responsive about-img" src="assets/images/partybooking-logo.png" alt="">
            </div>
        </div>
    </div>
</div>