<!DOCTYPE html>
<html>

<body>
  <div class="container">
    <!-- Dish rating section -->
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="rating-block">
          <h5>Average rating</h5>
          <h2 class="bold padding-bottom-5" *ngIf="productRating?.avg_rate">
            {{productRating?.avg_rate | number}} <span>/ 5</span>
          </h2>
          <p class="bold" *ngIf="!productRating?.avg_rate">No one has rated this dish!</p>
          <bar-rating [rate]="productRating?.avg_rate" [max]="5" [theme]="'fontawesome'" [readOnly]="true"
            class="d-flex justify-content-center">
          </bar-rating>
          <p>{{productRating?.count_rate}} reviews</p>
        </div>
      </div>
      <div class="col-sm-4 rating-overall">
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">5 <span class="fa fa-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="reviewOverall.five"
                aria-valuemin="0" aria-valuemax="productRating?.count_rate"
                [ngStyle]="{width: reviewOverall.five/productRating?.count_rate*100 +'%'}">
                <!-- <span class="sr-only">80% Complete (danger)</span> -->
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">
            {{reviewOverall.five/productRating?.count_rate*100 || "0" | number:'1.0-0'}}%
          </div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">4 <span class="fa fa-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="reviewOverall.four"
                aria-valuemin="0" aria-valuemax="productRating?.count_rate"
                [ngStyle]="{width: reviewOverall.four/productRating?.count_rate*100 +'%'}">
                <!-- <span class="sr-only">80% Complete (danger)</span> -->
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">
            {{reviewOverall.four/productRating?.count_rate*100 || "0" | number:'1.0-0'}}%
          </div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">3 <span class="fa fa-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="reviewOverall.three"
                aria-valuemin="0" aria-valuemax="productRating?.count_rate"
                [ngStyle]="{width: reviewOverall.three/productRating?.count_rate*100 +'%'}">
                <!-- <span class="sr-only">80% Complete (danger)</span> -->
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">
            {{reviewOverall.three/productRating?.count_rate*100 || "0" | number:'1.0-0'}}%
          </div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">2 <span class="fa fa-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="reviewOverall.two"
                aria-valuemin="0" aria-valuemax="productRating?.count_rate"
                [ngStyle]="{width: reviewOverall.two/productRating?.count_rate*100 +'%'}">
                <!-- <span class="sr-only">80% Complete (danger)</span> -->
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">
            {{reviewOverall.two/productRating?.count_rate*100 || "0" | number:'1.0-0'}}%
          </div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">1 <span class="fa fa-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="reviewOverall.one"
                aria-valuemin="0" aria-valuemax="productRating?.count_rate"
                [ngStyle]="{width: reviewOverall.one/productRating?.count_rate*100 +'%'}">
                <!-- <span class="sr-only">80% Complete (danger)</span> -->
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">
            {{reviewOverall.one/productRating?.count_rate*100 || "0" | number:'1.0-0'}}%
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <h6>Write your review</h6>
        <button id="reviewbtn" type="button" data-toggle="collapse" data-target="#ratingField"
          class="btn btn-default btn-block" [disabled]="!authenticationService.loggedIn()">
          Review
        </button>
      </div>
      <div class="col-sm-12">
        <div class="collapse" id="ratingField">
          <form #rating="ngForm" (ngSubmit)="ratingSubmit(rating.value)" id="ratingForm" class="row">
            <div class="col-sm-12">
              <h6 class="sub-title">Your review</h6>
              <textarea class="form-control animated" id="new-review" name="comment" cols="50" rows="5"
                placeholder="Write review..." ngModel required>
                            </textarea>
            </div>
            <div class="col-sm-12">
              <h6 style="margin-top: 1em">Your rating</h6>
              <bar-rating [(rate)]="rate" [max]="5" [theme]="'fontawesome'" name=rating ngModel required>
              </bar-rating>
            </div>
            <div class="col align-self-end">
              <button class="btn btn-success" type="submit" [disabled]="rating.invalid">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- User review and rating section -->
    <div class="row">
      <div class="col-sm-12">
        <hr *ngIf="productRating?.count_rate != 0">
        <div class="review-block" *ngIf="productRating?.count_rate != 0">
          <div
            *ngFor="let review of list_rate | paginate:{itemsPerPage:10,currentPage: page,totalItems:total_pages*10}; let i = index">
            <div class="row review-item" *ngIf="i<11">
              <div class="col-sm-3 text-center">
                <img src={{review.avatar}} onError="this.src='http://dummyimage.com/60x60/666/ffffff&text=No+Image';"
                  class="img-rounded avt-thumb" width="64" height="64">
                <div class="review-block-name"><a>{{review.user_rate}}</a></div>
                <div class="review-block-date">{{review.create_at | date: 'dd-MM-yyyy hh:mm a'}}</div>
              </div>
              <div id="{{'review' + i}}" class="col-sm-8 pr-0">
                <div class="review-block-rate">
                  <bar-rating [rate]="review.score" [max]="5" [theme]="'fontawesome'" [readOnly]="true">
                  </bar-rating>
                </div>
                <div class="review-block-description">
                  {{review.comment}}
                </div>
              </div>
              <div *ngIf="!edit_trigger" class="col-sm-1 text-center pl-0 pr-0">
                <span>
                  <button *ngIf="review.user_rate==current_user_id" class="btn" (click)=edit_clicked(review,i)>
                    <i class="fa fa-edit" title="Edit review"></i>
                  </button>
                  <button *ngIf="review.user_rate==current_user_id" class="btn ml-1" (click)=delete_review(review)>
                    <i class="fa fa-trash" title="Delete review"></i>
                  </button>
                </span>
              </div>
            </div>
            <hr *ngIf="i!=productRating?.list_rate.length-1 && i<11">
          </div>
        </div>
      </div>
    </div>
    <div class="has-text-centered pb-pagination text-center mt-3">
      <pagination-controls (pageChange)="get_rating_page($event)" previousLabel="Previous" nextLabel="Next"
        autoHide="true">
      </pagination-controls>
    </div>
    <!-- Edit review -->
    <div id="edit_review" class="col-sm-8 pr-0" [class.d-none]="!edit_trigger">
      <div class="review-block-rate">
        <bar-rating [(rate)]="edit_rating" [max]="5" [theme]="'fontawesome'">
        </bar-rating>
      </div>
      <textarea class="form-control animated" id="new-review" name="comment" cols="50" rows="5"
        placeholder="Write review..." [(ngModel)]="edit_review" required>
            </textarea>
      <button class="btn btn-success" style="margin-top: 15px;" (click)="update_review()">
        Update
      </button>
    </div>
  </div>
</body>

</html>
