<!DOCTYPE html>
<html>

<body>
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
          <!-- Sidebar -->
          <app-sidebar></app-sidebar>

          <!-- Page content -->
          <div class="content-inner">
            <header class="page-header">
                <div class="container-fluid">
                  <h2 class="no-margin-bottom">Products</h2>
                </div>
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                  <li class="breadcrumb-item active">Products list</li>
              </ul>
            </div>
            <section class="tables">
                <div class="container-fluid">
                    <div class="card">
                      <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Products list</h3>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table id="productTable" class="table table-striped">
                            <thead>
                              <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let product of product_list; let i = index">
                                <th scope="row" class="align-middle text-center">{{i+1}}</th>
                                <td class="align-middle text-center">
                                  <!-- <div class="product-img has-shadow"><img src={{product.image[0]}} alt="..." class="img-fluid"></div> -->
                                  {{product.name}}
                                </td>
                                <td class="align-middle text-center">{{product.categories}}</td>
                                <td class="align-middle text-center">{{product.price | number}}</td>
                                <td class="text-center">
                                  <a routerLink="/products/edit/{{product._id}}">
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                  </a>
                                  <span class="tab-space"></span>
                                  <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete" (click)="delete_clicked(product._id, product.name)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
          </div>
        </div>
    </div>
</body>
</html>