<!DOCTYPE html>
<html>
<body>
    <div class="page">
      <div class="page-content d-flex align-items-stretch">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- Content -->
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>
          <!-- Charts-->
          <section class="charts">
            <div class="container-fluid">
              <div class="row">
                <!-- Products Statistics -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                          <h3 class="h4 col-lg-12">Statistics of products ordered</h3>
                          <div id="productBtn" class="col lg-12 mt-1 text-right">
                            <button type="button" value="day" class="btn btn-primary mr-1 chart-btn active" (click)="product_range_changed('day')">Day</button>
                            <button type="button" value="week" class="btn btn-primary mr-1 chart-btn" (click)="product_range_changed('week')">Week</button>
                            <button type="button" value="month" class="btn btn-primary chart-btn" (click)="product_range_changed('month')">Month</button>
                          </div>
                      </div>
                    </div>
                    <span *ngIf="!isProductDataAvailable"  class="text-center pt-2 pb-2">No data available</span>
                    <div class="card-body" *ngIf="isProductDataAvailable">
                        <div style="overflow:scroll;overflow-y:auto;overflow-x:auto;">
                            <div class="chart-wrapper" style="width: 100wh">
                              <canvas baseChart id="productChart"
                                [datasets]="productChartData"
                                [labels]="productChartLabels"
                                [options]="productChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                              </canvas>
                            </div>                                         
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Money Statistic -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                          <h3 class="h4 col-lg-12">
                            Statistics of money collected in the last recent 7 days with revenue
                          </h3>
                      </div>
                    </div>
                    <span *ngIf="!isMoneyDataAvailable"  class="text-center pt-2 pb-2">No data available</span>
                    <div class="card-body" *ngIf="isMoneyDataAvailable">
                        <canvas baseChart
                          [datasets]="moneyChartData"
                          [labels]="moneyChartLabels"
                          [options]="moneyChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="lineChartType">
                        </canvas>                                  
                    </div>
                  </div>
                </div>
                <!-- Customers Statistic -->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                          <h3 class="h4 col-lg-12">Payment statistics of customers</h3>
                          <div id="customerBtn" class="col lg-12 mt-1 text-right">
                            <button type="button" value="day" class="btn btn-primary mr-1 chart-btn active" (click)="customer_range_changed('day')">Day</button>
                            <button type="button" value="week" class="btn btn-primary mr-1 chart-btn" (click)="customer_range_changed('week')">Week</button>
                            <button type="button" value="month" class="btn btn-primary chart-btn" (click)="customer_range_changed('month')">Month</button>
                          </div>
                      </div>
                    </div>
                    <span *ngIf="!isCustomerDataAvailable"  class="text-center pt-2 pb-2">No data available</span>
                    <div class="card-body" *ngIf="isCustomerDataAvailable">
                        <canvas baseChart
                          [datasets]="customerChartData"
                          [labels]="customerChartLabels"
                          [options]="customerChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                        </canvas>     
                    </div>
                  </div>
                </div>
                <!-- Staffs Statistic -->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                          <h3 class="h4 col-lg-12">Statistics of the amount employees have paid</h3>
                          <div id="staffBtn" class="col lg-12 mt-1 text-right">
                            <button type="button" value="day" class="btn btn-primary mr-1 chart-btn active" (click)="staff_range_changed('day')">Day</button>
                            <button type="button" value="week" class="btn btn-primary mr-1 chart-btn" (click)="staff_range_changed('week')">Week</button>
                            <button type="button" value="month" class="btn btn-primary chart-btn" (click)="staff_range_changed('month')">Month</button>
                          </div>
                      </div>
                    </div>
                    <span *ngIf="!isStaffDataAvailable"  class="text-center pt-2 pb-2">No data available</span>
                    <div class="card-body" *ngIf="isStaffDataAvailable">
                        <canvas baseChart
                          [datasets]="staffChartData"
                          [labels]="staffChartLabels"
                          [options]="customerChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                        </canvas>     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
</body>
</html>