.placeholder {
    margin: 15px;
    padding: 10px;
    height: 115px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.placeholder div {
    background: #E8E8E8;
}

.placeholder .square {
    float: left;
    width: 90px;
    height: 56px;
    margin: 0 0 10px;
}

.placeholder .line {
    height: 12px;
    margin: 0 0 10px 105px;
}

.placeholder .line:nth-child(2) {
    width: 120px;
}

.placeholder .line:nth-child(3) {
    width: 170px;
}

.placeholder .line:nth-child(4) {
    width: 150px;
}

.placeholder .circle {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 15px 10px 0;
    border-radius: 15px;
}

/* 
  --------------
  Wave effect animation 
  Activated by adding a '.wave' class to the placeholder
  --------------
*/

.placeholder.wave div {
    animation: wave 1s infinite linear forwards;
    -webkit-animation: wave 1s infinite linear forwards;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}

@keyframes wave {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@-webkit-keyframes wave {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}