<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <main class="page payment-page">
        <section class="payment-form dark">
            <div class="container">
                <form>
                    <div class="products">
                    <h3 class="title">Thanh toán</h3>
                    <div class="item" *ngFor="let item of items">
                        <span class="price">{{item.product.price | number }} x{{item.quantity}}</span>
                        <p class="item-name">{{item.product.name}}</p>
                    </div>
            
                    <div class="total">Tổng<span class="price">{{total | number}}</span></div>
                    </div>
                    <div class="card-details">
                    <h3 class="title">Thông tin thêm</h3>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="num-of-tables">Số bàn</label>
                            <input id="num-of-tables" type="number" class="form-control" aria-label="num-of-tables" aria-describedby="basic-addon1" min="1" value="1" (change)="changeOfTable($event)">
                        </div>
                        <!-- <div class="form-group col-sm-5">
                        <label for="">Expiration Date</label>
                        <div class="input-group expiration-date">
                            <input type="text" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                            <span class="date-separator">/</span>
                            <input type="text" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1">
                        </div>
                        </div> -->
                        <!-- <div class="form-group col-sm-12">
                            <label for="address">Địa chỉ</label>
                            <input id="address" type="text" class="form-control" placeholder="Địa chỉ giao hàng" aria-label="Địa chỉ" aria-describedby="basic-addon1">
                        </div> -->
                        <div class="form-group col-sm-9">
                            <label for="delivery-date">Ngày tổ chức</label>
                            <input id="delivery-date" type="datetime-local" class="form-control" required (change)="changeOfDate($event)">
                        </div>
                        <!-- <div class="form-group col-sm-4">
                            <label for="delivery-time">Giờ giao</label>
                            <input id="delivery-time" type="time" class="form-control" required (change)="changeOfTime($event)">
                        </div> -->
                        <!-- <div class="form-group col-sm-4">
                        <label for="cvc">CVC</label>
                        <input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
                        </div> -->
                        <div class="form-group col-sm-12">
                        <button type="button" class="btn btn-primary btn-block" (click)="order_comfirm()">Đặt</button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    
</body>
</html>