.card-text{
    height: 3em;
    overflow: hidden;
  }
.item-thumb{
  max-height: 10em;
}
html,body{
  min-height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
.content-container{
  padding: 20px;
}
.main-content{
  width: 100%;
  height: 100%;
}
/* .grid-container {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap:50px;
} */
.pagination-bar{
  text-align: center;
}
.category{
  color: black;
}
.category:hover{
  cursor: pointer;
}
.custom-panel{
  background-color: #f37d42;
}
.category-title{
  color: #f37d42;
}
.left-panel{
  padding: 0;
}
.jw-pagination .pagination li.page-number{
  display: none;
}