<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<app-header></app-header>
<div class="content_wrapper">
  <div class="container content">
    <div class="d-flex justify-content-center">
      <div class="card col-xs-12 col-sm-12 col-md-6 pb-2">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <address>
                <strong>PartyBooking</strong>
                <br>
                UIT
                <br>
                Thủ Đức, Hồ Chí Minh city
                <br>
                <abbr title="Phone">P:</abbr> 0392615412
              </address>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
              <p>
                <em>Date party: {{receipt?.date_party | date: 'dd-MM-yyyy'}}</em>
              </p>
              <p>
                <em>Receipt #: {{bill_id}}</em>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-12">
              <h1>Receipt</h1>
            </div>
            <table class="table table-hover col-md-12">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <!-- <th class="text-center">Price</th> -->
                  <th class="text-center">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of receipt_items">
                  <td class="col-md-9">
                    <div class="row">
                      <div class="col-2 pr-0 pl-1 checkout-item">
                        <img src="{{item?.feature_image}}" alt="dish" class="d-block w-100"
                          onerror="this.src='assets/images/no-img.png'">
                      </div>
                      <div class="col-10">
                        <em>{{item?.name}}</em>
                      </div>
                    </div>
                  </td>
                  <td class="col-md-1" style="text-align: center"> {{item?.count}} </td>
                  <!-- <td class="col-md-1 text-center">{{item?.price | number}}</td> -->
                  <td class="col-md-1 text-center">{{item?.total_money}}</td>
                </tr>
                <tr>
                  <td>   </td>
                  <!-- <td>   </td> -->
                  <td class="text-right">
                    <h4><strong>Total: </strong></h4>
                  </td>
                  <td class="text-center text-danger">
                    <h4><strong>{{receipt?.total | number}}</strong></h4>
                    <span class="text-dark">x{{receipt?.table}} table(s)</span>
                  </td>
                </tr>
                <!-- <tr>
                  <td>   </td>
                  <td>   </td>
                  <td class="text-right">
                    <h4><strong>Final: </strong></h4>
                  </td>
                  <td class="text-center text-danger">
                    <h4><strong>{{receipt.total_price * receipt.numOfTable | number}}</strong></h4>
                  </td>
                </tr> -->
              </tbody>
            </table>
            <div class="col-md-12">
              <a type="button" class="btn btn-success btn-lg btn-block nav-btn" (click)="pay()">
                Pay Now <i class="fa fa-angle-right fa-bold"></i>
              </a>
              <a routerLink="/mainpage" type="button" class="btn btn-danger btn-lg btn-block nav-btn">
                <i class="fa fa-angle-left"></i> Back to main page
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
