<app-header></app-header>
<div class="content_wrapper">
    <div class="container">
        <div class="row">
            <div class="userPanel col-12 col-lg-3">
            <div class="panel-username">{{userInfo.username}}'s profile</div>
            <a class="edit-link" [routerLink]="['/editProfile']">
                <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;">
                    <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48" fill="#9B9B9B" fill-rule="evenodd"></path>
                </svg>Change</a>
            <hr>
            <ul>
                <li class="navi-link">
                    <a routerLink="/profile/yourprofile">
                        <div class="panel-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        User infomation
                    </a>
                </li>
                <li class="navi-link"><a routerLink="/profile/yourcart"><div class="panel-icon"><i class="fa fa-shopping-cart"></i></div>Order history</a></li>
            </ul>
            </div>
            <div class="card user-section col-12 col-lg-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>