<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous"> -->
    <!-- <link href="../../assets/css/shop-homepage.css" rel="stylesheet"> -->
</head>
<body>
    <!-- Page Content -->
    <div class="content-container container"> <!-- class container khiến content margin ra giữa-->
        <div class="row">
            <!-- Category -->
            <div class="left-panel col-12 col-lg-3">
                <div class="card-header custom-panel text-white text-uppercase"><i class="fa fa-list"></i> Danh mục</div>
                <div class="list-group">
                    <a href="category/Holiday Offers" class="list-group-item category category-title" *ngIf="product_filter('Holiday Offers')?.length >0">Holiday Offers</a>
                    <a href="category/First Dishes" class="list-group-item category category-title" *ngIf="product_filter('First Dishes')?.length >0">Khai vị</a>
                    <a href="category/Main Dishes" class="list-group-item category category-title" *ngIf="product_filter('Main Dishes')?.length >0">Món chính</a>
                    <a href="category/Seafood" class="list-group-item category category-title" *ngIf="product_filter('Seafood')?.length >0">Hải sản</a>
                    <a href="category/Drinks" class="list-group-item category category-title" *ngIf="product_filter('Drinks')?.length >0">Đồ uống</a>
                    <a href="category/Dessert" class="list-group-item category category-title" *ngIf="product_filter('Dessert')?.length >0">Tráng miệng</a>
                </div>
            </div>
            <div class="col-lg-9">
                <h5 class="custom-title">Sản phẩm mới</h5>
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox" >
                        <div class="carousel-item active">
                        <a href="product/{{new_products[0]._id}}"><img class="d-block img-fluid big-thumb-img" src={{new_products[0].image[0]}} onError="this.src='../../assets/images/carousel-thumbnail-default.png';" alt="First slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="product/{{new_products[1]._id}}"><img class="d-block img-fluid big-thumb-img" src={{new_products[1].image[0]}} onError="this.src='../../assets/images/carousel-thumbnail-default.png';" alt="Second slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="product/{{new_products[2]._id}}"><img class="d-block img-fluid big-thumb-img" src={{new_products[2].image[0]}} onError="this.src='../../assets/images/carousel-thumbnail-default.png';" alt="Third slide"></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="main-content">                
                <ng-container class="row" *ngFor="let category of category_list">
                    <div class="card mb-4" *ngIf="product_filter(category)?.length >0">
                        <h5 class="sub-header custom-title text-center">{{category}}</h5>
                        <div class="grid-container row category-row">
                            <div class="grid-item col-lg-3 col-md-6 mb-4" *ngFor="let item of product_filter(category); let i=index">
                                <div class="card h-100" *ngIf="i<8">
                                    <a [routerLink]="['/product', item._id]"><img class="card-img-top item-thumb" src={{item.image[0]}} onError="this.src='../../assets/images/dish-thumbnail-default.png';" alt=""></a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a [routerLink]="['/product', item._id]">{{item.name}}</a>
                                        </h5>
                                        <h6>{{item.price | number}} VNĐ</h6>
                                        <p class="card-text">{{item.description}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-outline-secondary add-cart-btn" (click)="addCart_clicked(item._id)">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center"><a href="category/{{category}}"><button type="button" class="btn btn-outline-primary view-more-btn">Xem thêm</button></a></div>
                    </div>
                </ng-container>
                <!-- <div class="pagination-bar pb-0 pt-3 d-flex justify-content-center">
                    <jw-pagination [items]="dishes_Data" (changePage)="onChangePage($event)"></jw-pagination>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>