<app-header></app-header>
<div class="container" *ngIf="post_list.length < 1">
  <list-loading></list-loading>
  <list-loading></list-loading>
  <list-loading></list-loading>
  <list-loading></list-loading>
</div>
<div class="container mt-1" *ngFor="let post of post_list">
  <div class="col-md-12 row">
    <div class="col-md-2">
       <img src={{post?.feature_image}} alt="..." class="post-image">
    </div>
    <div class="col-md-10">
      <a [routerLink]="['/post/detail', post?._id]"><h4>{{post?.title}}</h4></a>
      <p>
        {{post?.summary}}
      </p>
      <div>
        <span class="badge badge-secondary">Posted {{post?.create_at | date: 'dd/MM/yyyy'}}</span>
        <div class="pull-right">
          <span class="badge badge-success">{{post?.type}}</span>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="pagination-bar pb-0 pt-3 d-flex justify-content-center" *ngIf="total_pages > 1">
    <div class="pagination">
      <ul>
        <a (click)="change_page(current_index - 1)"><li><</li></a>
        <a *ngFor="let item of [].constructor(total_pages); let currentIndex=index" 
          (click)="change_page(currentIndex+1)" 
          [ngClass]="{active: currentIndex+1 == current_index}">{{currentIndex + 1}}</a>
        <a (click)="change_page(current_index + 1)"><li>></li></a>
      </ul>
  </div>
</div>
</div>
<scroll-to-top></scroll-to-top>
<app-footer></app-footer>