<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="form_container">
        <form #editPassword = "ngForm" (ngSubmit) = "onClickSubmit(editPassword.value)" id="editpassForm">
            <header style="font-weight: 500">Tài khoản</header>
            <label for="password">Mật khẩu</label>
            <input id="password" type="password" name="pwd" required minlength="6" ngModel #pw="ngModel">
            <div class="alert" role="alert" *ngIf="pw.invalid && pw.touched">Vui lòng điền mật khẩu ít nhất có 6 ký tự</div>
            <label for="newpass">Mật khẩu mới</label>
            <input id="newpass" type="password" name="newpass" required minlength="6"ngModel #newpass="ngModel">
            <div class="alert" role="alert" *ngIf="newpass.invalid && newpass.touched">Vui lòng điền mật khẩu ít nhất có 6 ký tự</div>
            <label for="repass">Nhập lại mật khẩu mới</label>
            <input id="repass" type="password" name="repass" required>
            <button type="submit" form="editpassForm" value="Xác nhận" [disabled]="editPassword.invalid">Xác nhận</button>
        </form>
    </div>
</body>
</html>