<html>
<body>
    <app-header></app-header>
    <div class="login">
        <div class="form_container">
            <form class="login-form" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" id="loginform">
                <header>Login</header>
                <label for="username">Username</label>
                <br>
                <input id="username" type="text" name="username" required placeholder="Enter username" ngModel #username="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="username.invalid && username?.dirty">Please enter username!</div>
                <label for="password">Password</label>
                <br>
                <input id="password" type="password" name="pwd" placeholder="Enter password" ngModel required #pw="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="pw.invalid && pw.dirty">Please enter password!</div>
                <br>
                <button name="login" class="login-button" type="submit" form="loginform" value="Login" [disabled]="userlogin.invalid">Login</button><br>
            </form>
            <!-- <div class="second-section">
                <div class="bottom-header">
                    <h3>OR</h3>
                </div>
                <div class="social-links">
                    <ul>
                      <li><a class="facebook" (click)="login()" target="blank"><i class="fa fa-facebook"></i></a></li>
        
                      <li><a class="twitter" href="#" target="blank"><i class="fa fa-twitter"></i></a></li>
        
                      <li><a class="googleplus" href="#" target="blank"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div> -->
            <div class="bottom-text">
                <p>Doesn't have a account?<a style="font-weight: 500" [routerLink]="['/user_register']">Register</a></p>
                <h4><a [routerLink]="['/forgotpassword']">Forgot your password?</a></h4>
            </div>
        </div>
    </div>
	<app-footer></app-footer>
</body>
</html>