<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="infoheader">User infomation</div>
    <hr>
    <div class="user-info-section">
        <div class="info-group">
            <label class="info-label">Full name: <span class="info-content">{{userInfo.fullName}}</span></label>
        </div>
        <div class="info-group">
            <label class="info-label">Gender: <span class="info-content" *ngIf="userInfo.sex=='Male'">Male</span><span class="info-content" *ngIf="userInfo.sex=='Female'">Female</span></label>
        </div>
        <div class="info-group">
            <label class="info-label">Birthday: <span class="info-content">{{userInfo.birthday | date: 'dd/MM/yyyy'}}</span></label>
        </div>
        <div class="info-group">
            <label class="info-label">Phone number: <span class="info-content">{{userInfo.phoneNumber}}</span></label>
        </div>
        <div class="info-group">
            <label class="info-label">Email: <span class="info-content">{{userInfo.email}}</span></label>
        </div>
        <div class="info-group">
            <label class="info-label">Date joined: <span class="info-content">{{userInfo.createAt}}</span></label>
        </div>
    </div>
    <div class="user-avatar text-center">
        <img class="rounded img-thumbnail img-fluid" src={{avtUrl}} alt="avatar">
    </div>
</body>
</html>
