<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
   <!-- Google fonts - Poppins -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="../assets/css/fontastic.css">
  <!-- <link rel="stylesheet" href="../../../assets/css/style.default.css" id="theme-stylesheet"> -->
</head>
<body>
  <div class="page">
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark static-top" *ngIf="authenticationService.loggedIn()">
      <a class="navbar-brand" href="dashboard">
          <span><strong>PartyBooking</strong></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <!-- Logout    -->
          <li class="nav-item"><a class="nav-link logout" (click)="logout()"> <span class="d-none d-sm-inline" style="color: white;">Logout </span><i class="fa fa-sign-out"></i></a></li>
          <!-- <li class="nav-item dropdown" *ngIf="authenticationService.isAdmin()">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
            <i class="fa fa-user"></i> {{userInfo.username}} </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" *ngIf="authenticationService.loggedIn()" href="/profile">Account</a>
              <a class="dropdown-item" style="cursor:pointer" *ngIf="authenticationService.loggedIn()" (click)="logout()">Logout</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
    <ng-container>
      <router-outlet (activate)="changeOfRoutes()"></router-outlet>
    </ng-container>
  </div>

</body>
</html>