<!DOCTYPE html>
<html>

<body>
    <div class="form_container">
        <form #editProfile = "ngForm" (ngSubmit) = "onClickSubmit(editProfile.value)" id="editprofileForm">
            <header style="font-weight: 500">Profile</header>
            <label for="fullname">Full Name</label>
            <input id="fullname" type="text" name="fullname" ngModel required [(ngModel)]="userInfo.full_name" #fname="ngModel">
            <div class="invalid-alert" role="alert" *ngIf="fname.invalid && fname.touched">Please enter full name</div>
            <label for="gender">Gender</label>
            <select id="gender" name="gender" ngModel [(ngModel)]="userInfo.gender">
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
            <label for="birthday">Birthday</label>
            <input id="birthday" type="date" name="birthday" ngModel [ngModel]="userInfo.birthday | date:'yyyy-MM-dd'" #birthday="ngModel" (change)="changeOfDate($event)">
            <label for="phonenumber">Phone number</label>
            <input id="phonenumber" type="tel" name="phonenumber" ngModel required [(ngModel)]="userInfo.phone" maxlength="12" minlength="10" ngModel #phonenum="ngModel">
            <div class="invalid-alert" role="alert" *ngIf="phonenum.invalid && phonenum.touched">Please enter a valid phone number</div>
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email" ngModel email required [(ngModel)]="userInfo.email" #email="ngModel">
            <div class="invalid-alert" role="alert" *ngIf="email.invalid && email.touched">Please enter a valid e-mail</div>
            <button type="submit" form="editprofileForm" value="Xác nhận" [disabled]="editProfile.invalid">Update</button>
        </form>
    </div>
</body>
</html>