<!DOCTYPE html>
<html>
<head>
    <style>
        /* .product-thumb{
            overflow: hidden;
            max-height: 3.5em;
            width: auto;
        }
        .testimonial-group > .row {
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: nowrap;
            }
        .testimonial-group > .row > .col-xs-2 {
            display: inline-block;
            float: none;
        } */
    </style>
</head>
<body>
    <app-header></app-header>
    <div class="container">
        <div class="card card-custom">
            <div class="container-fluid">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <!-- <div class="tab-pane" [attr.id]="i" [ngClass]="{'active' : i==0}"><img src={{image}} onError="http://placekitten.com/400/252" /></div> -->
                            <div class="tab-pane active" id="pic-0"><img src={{product_data?.image[0]}}  onError="this.src='http://placekitten.com/400/252'" /></div>
                            <div class="tab-pane" id="pic-1"><img src={{product_data?.image[1]}}/></div>
                            <div class="tab-pane" id="pic-2"><img src={{product_data?.image[2]}} /></div>
                            <div class="tab-pane" id="pic-3"><img src={{product_data?.image[3]}} /></div>
                            <div class="tab-pane" id="pic-4"><img src={{product_data?.image[4]}} /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs" >
                            <!-- <ng-container *ngFor="let image of product_data.image ; let i=index">
                                <li [ngClass]="{'active' : i==0}"><a [attr.data-target]="'#'+i" data-toggle="tab" *ngIf="i<5"><img class="product-thumb" src={{image}} onError="http://placekitten.com/200/126"/></a></li>
                            </ng-container> -->
                            <li><a data-target="#pic-0" data-toggle="tab"><img src={{product_data?.image[0]}} /></a></li>
                            <li><a data-target="#pic-1" data-toggle="tab"><img src={{product_data?.image[1]}} /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src={{product_data?.image[2]}} /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src={{product_data?.image[3]}} /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src={{product_data?.image[4]}} /></a></li>
                        </ul>
                    </div>
                    <div class="details col-md-6" >
                        <h3 class="product-title">{{product_data?.name}}</h3>
                        <div class="rating">
                            <bar-rating [rate]="product_ratings?.avg_rate" [max]="5" [theme]="'fontawesome'" [readOnly]="true"></bar-rating>
                            <span (click)="scroll(review)" class="review-no review-link">{{product_ratings?.count_rate}} reviews</span>
                        </div>
                        <p style="font-weight: bold">Description:</p>
                        <p class="product-description">{{product_data?.description}}</p>
                        <p class="category">Type: <a href="category/{{product_data?.categories[0]}}"><span>{{product_data?.categories}}</span></a></p>
                        <h4 class="price">Price: <span>{{product_data?.price | number}} VND</span></h4>
                        <div class="action">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" value="1" class="form-control quantity" min="1" max="100" (change)="quantityChanged($event)">
                            </div>
                            <button class="btn btn-round btn-danger" type="button" (click)="addToCart()"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            <!-- <button class="btn btn-round btn-danger" type="button"><i class="fa fa-heart"></i></button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="sub-header" *ngIf="suggest_list.length">Same type dishes</h6>
        <div class="card" *ngIf="suggest_list.length">
            <div class="row suggest-row">
                <div class="col-lg-2 col-md-2 col-xs-2 suggest-item" *ngFor="let item of suggest_list; let i=index">
                    <div class="card h-100 product-card" *ngIf="i<6">
                        <a [routerLink]="['/product', item._id]">
                            <figure class="suggest-item-thumb-wrapper">
                                <img class="card-img-top suggest-item-thumb" src={{item.image[0]}} onError="this.src='assets/images/dish-thumbnail-default.png';" alt="">
                            </figure>
                        </a>
                        <div class="card-body text-center">
                            <h6 class="card-title">
                                <a [routerLink]="['/product', item._id]">{{item.name}}</a>
                            </h6>
                            <h6 class="price">{{item.price}} VND</h6>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <h6 #review class="sub-header">Dish reviews</h6>
        <app-product-rating [productId]="product_data?._id" [productRating]="product_ratings" *ngIf="product_ratings"></app-product-rating>
    </div>
    <app-footer></app-footer>
</body>
</html>