<!DOCTYPE html>
<html>

<body>
    <div class="form_container">
        <form #editPassword = "ngForm" (ngSubmit) = "onClickSubmit(editPassword.value)" id="editpassForm">
            <header style="font-weight: 500">Password</header>
            <label for="password">Old password</label>
            <input id="password" type="password" name="pwd" required minlength="6" ngModel #pw="ngModel">
            <div class="invalid-alert" role="alert" *ngIf="pw.invalid && pw.dirty">Please enter a password of at least 6 characters</div>
            <label for="newpass">New password</label>
            <input id="newpass" type="password" name="newpass" required minlength="6"ngModel #newpass="ngModel">
            <div class="invalid-alert" role="alert" *ngIf="newpass.invalid && newpass.dirty">Please enter a password of at least 6 characters</div>
            <label for="repass">Retype new password</label>
            <input id="repass" type="password" name="repass" required>
            <button type="submit" form="editpassForm" value="Confirm" [disabled]="editPassword.invalid">Confirm</button>
        </form>
    </div>
</body>
</html>