<body>
<div class="d-flex justify-content-center">
    <div class="card w-50">
    <div class="card-body p-5">
        <p class="creditcard-wrapper">
        <i class="fa fa-cc-visa fa-2x"></i>
        <i class="fa fa-cc-mastercard fa-2x"></i>
        <i class="fa fa-cc-amex fa-2x"></i>
        </p>
        <p class="alert alert-success" *ngIf="error">{{errorText}}</p>
        <form novalidate role="form" (ngSubmit)="buy()" [formGroup]="stripeTest">
        <div class="form-group">
            <label for="card-number">Card number</label>
            <div id="card-number" class="field"></div>
            <div class="row">
            <div class="col-sm-8">
                <label><span class="hidden-xs">Expiration</span> </label>
                <div id="card-expiry" class="field"></div>
            </div>
            <div class="col-sm-4">
                <label data-toggle="tooltip" title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                <div id="card-cvc" class="field"></div>
            </div>
            </div>
            <button type="submit" class="subscribe btn btn-primary btn-block">
            BUY
            </button>
        </div>          
        </form>
    </div>
    </div>
</div>
</body>
