body {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #f6f6f6;
    font-family: Roboto, Helvetica, sans-serif;
}

.creditcard-wrapper {
    letter-spacing: 2px;
}

.field {
    padding-bottom: 1em;
}