<!DOCTYPE html>
<html>

<body>
    <div class="form_container">
        <form #forgotpassword="ngForm" (ngSubmit)="onClickSubmit(forgotpassword.value)" id="forgotpassForm">
            <header>Forgot password</header>
            <div class="unauthorized" *ngIf="authorized==false">
                <br>
                <p class="form-text">Enter your username.</p>
                <p class="form-text">A confirmation code will be sent to you.</p>
                <p class="form-text">If not, check the spam folder.</p>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" required ngModel #username="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="username.invalid && username?.dirty">Please enter
                    username!</div>
                <!--label for="email">Email</label>
                    <input id="email" type="email" name="email" required ngModel -->
            </div>
            <div class="authorized" *ngIf="authorized">
                <br>
                <p class="form-text">Enter the new password and the confirmation code we just sent you</p>
                <label for="newpass">New password</label>
                <input id="newpass" type="password" name="newpass" required minlength="6" ngModel #newpass="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="newpass.invalid && newpass.dirty">Please enter a new
                    password with at least 6 characters!</div>
                <label for="recoverycode">Confirmation code</label>
                <input id="recoverycode" type="text" name="recoverycode" required ngModel #recovery="ngModel">
                <div class="invalid-alert" role="alert" *ngIf="recovery.invalid && recovery.dirty">Please enter
                    confirmation code!</div>
            </div>
            <button type="submit" form="forgotpassForm" value="Submit"
                [disabled]="forgotpassword.invalid">Confirm</button>
        </form>
    </div>
</body>

</html>